@media (max-width: 800px) {
					.dbIXX800 {
        	display: block !important;
        }
				}@media (max-width: 1200px) and (min-width: 500px) {
				.mb100XX1200-500 {
        	margin-bottom: 100px;
        }
			}.pb40XX-pb120IXX-500 {
        	padding-bottom: 40px;
        }@media (max-width: 800px) {
					.w80qXX800 {
        	width: 80%;
        }
				}